<div class="container-fluid navbar-dark bg-dark">
    <footer class="navbar-nav py-3">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="/" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a target="_blank" href="https://store.steampowered.com/"
                    class="nav-link active" color="white">Steam</a>
            </li>
            <li class="nav-item">
                <a target="_blank" href="https://www.howlongtobeat.com/"
                    class="nav-link active">HLTB</a>
                </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">About</a>
            </li>
        </ul>
        <ul class="nav justify-content-center">
            <li class="nav-item lead">
                <a class="nav-link active">© 2023 ANSIMI</a>
            </li>
        </ul>
    </footer>
</div>
<br>