<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Popular</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="https://steamcdn-a.akamaihd.net/steam/apps/287700/header.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Game 1</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, modi. Iste, quia autem. Mollitia incidunt voluptatibus culpa modi rem libero alias ducimus, cum maxime officiis similique harum amet dignissimos cupiditate.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://steamcdn-a.akamaihd.net/steam/apps/1687950/header.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Game 2</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, modi. Iste, quia autem. Mollitia incidunt voluptatibus culpa modi rem libero alias ducimus, cum maxime officiis similique harum amet dignissimos cupiditate.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://steamcdn-a.akamaihd.net/steam/apps/1265930/header.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Game 3</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, modi. Iste, quia autem. Mollitia incidunt voluptatibus culpa modi rem libero alias ducimus, cum maxime officiis similique harum amet dignissimos cupiditate.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://steamcdn-a.akamaihd.net/steam/apps/1145360/header.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Game 4</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, modi. Iste, quia autem. Mollitia incidunt voluptatibus culpa modi rem libero alias ducimus, cum maxime officiis similique harum amet dignissimos cupiditate.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>