<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
                How long would it take to beat your Steam library?
            </h1>
            <p class="col-lg-10 fs-4">
                Find out how long each game in your Steam library would take to beat and plan out how to beat your backlog!
                Enter your Steam Username to see your games.
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5" *ngIf="!steamIdLogin">
            <form class="p-4 p-md-5 border rounded-5 bg-dark"
                #SteamName="ngForm" (ngSubmit)="loginWithSteamName()" autocomplete="off">
                <div class="form-floating mb-3">
                    <input name="steamUser" [(ngModel)]="steamUsername" type="text" class="form-control">
                    <label>Steam Username</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">See Library</button>
                <hr class="my-4">
                <a target="_blank" (click)="steamIdLoginSwitch()">
                    Login with Steam ID Instead
                </a>
            </form>
        </div>
        <div class="col-md-10 mx-auto col-lg-5" *ngIf="steamIdLogin">
            <form class="p-4 p-md-5 border rounded-5 bg-dark"
                #SteamName="ngForm" (ngSubmit)="loginWithSteamId()" autocomplete="off">
                <div class="form-floating mb-3">
                    <input name="steamUser" [(ngModel)]="steamId" type="text" class="form-control">
                    <label>Steam ID</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">See Library</button>
                <hr class="my-4">
                <a target="_blank" (click)="steamIdLoginSwitch()">
                    Login with Steam Username Instead
                </a>
            </form>
        </div>
    </div>
</div>