<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/2048px-Steam_icon_logo.svg.png" alt="" width="150"
        height="mx-auto">
    <h1 class="display-5 fw-bold text-body-emphasis">{{ title }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, modi. Iste, quia autem.
            Mollitia incidunt voluptatibus culpa modi rem libero alias ducimus, cum maxime officiis similique harum amet
            dignissimos cupiditate.</p>
    </div>
</div>